{% extends '::coordinador.html.twig' %}
{% block titulo %}
    <h1 class="page-title">Bienvenido al sistema de evaluación docente</h1>
{% endblock %}

{% block body -%}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1> Cursos Activos </h1>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Catedratico</th>
                </tr>
            </thead>
            
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
