{% extends '::estudiante.html.twig' %}
{% block titulo %}
{% endblock %}

{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2> Resultado </h2>
                             {{ form(form) }}
                        </div>

                        <div class="panel-body">
                            {%%}
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
</div> 

{% endblock %}
