{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="page-title">Editar Alumno</h1>
                        </div>
                        <div class="panel-body">
                            {{ form(edit_form) }} 
                            <a href="{{ path('alumno') }}"  class="fa fa-list btn btn-info"> Regresar</a>
                            {{ form(delete_form) }}
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
</div>
{% endblock %}

