{% extends '::base.html.twig' %}
{% block body -%}

<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="page-title">Lista de alumnos</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table table-striped table-bordered table-hover table-responsive">
                                {{ addDataTable(dataTable) }}
                            </div>  
                        </div>
                        <a href="{{ path('alumno_new') }}" class="icon-file-text-alt btn btn-info">
                            Crear Alumno
                         </a>
                    </div>
                     <!-- End Form Elements -->
                </div>
</div>       
{% endblock %}