<ul>
    <a href="{{ path('jornada_show', { 'id': id }) }}" class="btn btn-success" > <i class="icon-eye-open"></i> Ver </a>
    <a href="{{ path('jornada_edit', { 'id': id }) }}" class="btn btn-danger"><i class=" icon-edit-sign"></i> Editar </a>
</ul>

