
{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Editar asignación de curso a pensum
                        </div>
                        <div class="panel-body">
                            {{ form(edit_form) }} 
                            {{ form(delete_form) }}
                        </div>
                    </div>
                            <a href="{{ path('pensum_show', {'id':entity.Pensum.id}) }}"  class="icon-signout btn btn-info"> Regresar al pensum</a>
                     <!-- End Form Elements -->
                </div>
</div>
{% endblock %}

