{% extends '::base.html.twig' %}
{% block body -%}
    <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Asignación de Curso a Pensum
                        </div>
                        {{ form(form) }}
    					<a href="{{  path('pensum', {'id': entity.Pensum.id}) }}" class="fa fa-list btn btn-info"> Regresar al pensum</a>  
                        
                    </div>
                     <!-- End Form Elements -->
                </div>
</div>       
{% endblock %}


