{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1>Crear Evaluación</h1>
                        </div>
                        <div class="panel-body">
                            {{ form(form) }} 
                            <a href="{{ path('evaluacion') }}"  class="fa fa-list btn btn-info"> Regresar</a>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
</div>
{% endblock %}
