<ul>
    <a href="{{ path('carrera_show', { 'id': id }) }}" class="btn btn-success" > <i class="fa fa-money"></i> Ver </a>
    <a href="{{ path('carrera_edit', { 'id': id }) }}" class="btn btn-danger"><i class="fa fa-edit"></i> Editar </a>
</ul>

