{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Lista de Carreras
                        </div>
                        <div class="panel-body">
                            <div class="table table-striped table-bordered table-hover table-responsive">
                                {{ addDataTable(dataTable) }}
                            </div>  
                        </div>
                        <a href="{{ path('carrera_new') }}" class="fa fa-check btn btn-success">
                            Crear Carrera
                         </a>
                    </div>
                     <!-- End Form Elements -->
                </div>
</div>   
{% endblock %}
