{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Editar Tipo de Pregunta</h1>
      </div>
      <div class="panel-body">
        {{ form(edit_form) }}
        {{ form(delete_form) }}
      </div>
    </div>
            <a href="{{ path('preguntum') }}" class="btn btn-info icon-signout">
                Regresar
            </a>
  </div>
</div>
{% endblock %}
