{% extends '::base.html.twig' %}
{% block body -%}
    <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Asignación de Carrera a Campus
                        </div>
                        {{ form_javascript(form) }}
                        {{ form(form) }}                        
                    </div>
    					<a href="{{ path('campus_show', {id:entity.Campus.id}) }}" class="icon-signout btn btn-info"> Regresar a Campus </a>  
                     <!-- End Form Elements -->
                </div>
</div>       
{% endblock %}

