<ul>
    <a href="{{ path('curso_show', { 'id': id }) }}" class="btn btn-success fa fa-money"> Ver </a>
    <a href="{{ path('curso_edit', { 'id': id }) }}" class="btn btn-danger fa fa-pencil"> Editar </a>
</ul>

