{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Editar Curso
                        </div>
                        <div class="panel-body">
                            {{ form(edit_form) }} 
                            {{ form(delete_form) }}
                        </div>
                    </div>
                            <a href="{{ path('curso') }}"  class="icon-signout btn btn-info"> Regresar</a>
                     <!-- End Form Elements -->
                </div>
</div>
{% endblock %}

