{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Lista de Cursos
                        </div>
                        <div class="panel-body">
                            <div class="table table-striped table-bordered table-hover table-responsive">
                                {{ addDataTable(dataTable) }}
                            </div>  
                        </div>
                    </div>
                        <a href="{{ path('curso_new') }}" class="btn btn-info"><i class="icon-file-text-alt"></i>
                            Crear Curso
                         </a>
                     <!-- End Form Elements -->
                </div>
</div> 
{% endblock %}


