{% extends '::base.html.twig' %}
{% block body -%}
    <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Crear Curso
                        </div>
                        {{ form(form) }}
                        
                    </div>
    					<a href="{{ path('curso') }}" class="icon-signout btn btn-info"> Regresar </a>  
                     <!-- End Form Elements -->
                </div>
</div>       
{% endblock %}
