<ul>
    <a href="{{ path('catedratico_show', { 'id': id }) }}" class="btn btn-success fa fa-money"> Ver </a>
    <a href="{{ path('catedratico_edit', { 'id': id }) }}" class="btn btn-danger fa fa-edit"> Editar </a>
</ul>

