<ul>
    <a href="{{ path('catedratico_show', { 'id': id }) }}" class="btn btn-success icon-eye-open"> Ver </a>
    <a href="{{ path('catedratico_edit', { 'id': id }) }}" class="btn btn-danger icon-edit-sign"> Editar </a>
</ul>

