{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Crear Catedratico</h1>
      </div>
      <div class="panel-body">
      {{ form(form) }}
      </div>
    </div>
      <a href="{{ path('catedratico') }}" class="btn btn-success icon-file-text-alt"> Regresar</a>
  </div>
</div>
{% endblock %}
