{% extends '::base.html.twig' %}
{% block titulo %}
{% endblock %}

{% block body -%}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    <h1 class="page-title">Nuevo pensum</h1>
			</div>
			<div class="panel-body">
				{{ form(form) }}
			</div>
		</div>
        		<a href="{{ path('pensum') }}" class="btn btn-info icon-signout ">	Regresar a la lista</a>
	</div>
</div>

   
{% endblock %}
