{% extends '::base.html.twig' %}
{% block body -%}

<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="page-title">{{ entity.Anio }}</h1>
                            Lista de cursos del pensum
                        </div>
                        <div class="panel-body">
                            <div class="table table-striped table-bordered table-hover table-responsive">
                                {{ addDataTable(dataTable) }}
                            </div>  
                        </div>
                    </div>
                        <a href="{{ path('pensumanio_new', {'id':entity.id}) }}" class="icon-code-fork btn btn-success">
                            Asignar nuevo curso
                         </a>
                         <a href="{{ path('pensum') }}" class="btn btn-info icon-signout">
                         Regresar a la lista
                         </a>
                     <!-- End Form Elements -->
                </div>
</div>       
{% endblock %}
