<ul>
    <a href="{{ path('campuscarrera_show', { 'id': id }) }}" class="icon-eye-open btn btn-success"> Ver</a>
    <a href="{{ path('campuscarrera_edit', { 'id': id }) }}" class="icon-edit-sign btn btn-danger"> Editar</a>
</ul>
