<ul>
    <a href="{{ path('campuscarrera_show', { 'id': id }) }}" class="fa fa-list btn btn-success"> Ver</a>
    <a href="{{ path('campuscarrera_edit', { 'id': id }) }}" class="fa fa-pencil btn btn-danger"> Editar</a>
</ul>
