{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Lista de Campus
                        </div>
                        <div class="panel-body">
                          	<div class="table table-striped table-bordered table-hover">
        						{{ addDataTable(dataTable) }}
        					</div>  
                        </div>
                        <a href="{{ path('campus_new') }}" class="btn btn-info"><i class="fa fa-check"></i>
         					Crear Campus
       					 </a>
                    </div>
                     <!-- End Form Elements -->
                </div>
</div> 
{% endblock %}
